
<div>
    <div>
        <h1>Add a lab !</h1>
    </div>

    <div>
      <form novalidate class="simple-form" role="form">
        <div class="form-group">
            <label for="lab-name" class="required">Name:</label>
            <div class="field-error">{{errors.name}}</div>
            <input id="lab-name" type="text" ng-model="lab.name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="lab-description">Description:</label>
            <div class="field-error">{{errors.description}}</div>
            <input id="lab-description" type="text" ng-model="lab.description" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="lab-adress">Adress:</label>
            <div class="field-error">{{errors.adress}}</div>
            <input id="lab-adress" type="text" ng-model="lab.adress" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="lab-url" class="required">Site URL:</label>
            <div class="field-error">{{errors.url}}</div>
            <input id="lab-url" type="text" ng-model="lab.url" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="lab-country">Country:</label>
            <div class="field-error">{{errors.country}}</div>
            <input id="lab-country" type="text" ng-model="lab.country" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="lab-latitude">Latitude:</label>
            <div class="field-error">{{errors.latitude}}</div>
            <input id="lab-latitude" type="text" ng-model="lab.latitude" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="lab-longitude">Longitude:</label>
            <div class="field-error">{{errors.longitude}}</div>
            <input id="lab-longitude" type="text" ng-model="lab.longitude" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-default" ng-click="save(lab)">Propose</button>
      </form>

    </div>
</div>